/* HERO SECTION */
.hero-container {
  height: 100vh;
  width: 100%;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.hero-text {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CONTENT SECTION */
.content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  background-color: #8d683d;
}

.content-image {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: span 3;
}

.content-header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align:right;
}

.film-btn {
  border-style: black 2px;
  background-color:#f0dbb4;
  padding: 1rem
}
.film-btn:hover {
  background-color: #d75533;
  opacity: 75%;
}

/* ACCORDION SECTION */
.accordion-container {
  background-color: #0e1f24;
  color: #fff;
}

.accordion {
  background-color: #f0dbb4;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #d75533;
  opacity: 75%;
}

.panel {
  padding: 0 18px;
  color: #000;
  background-color: white;
  display: none;
  overflow: hidden;
}

.material-symbols-outlined {
  vertical-align: text-bottom;
}

/* FOOTER SECTION */
.footer-container {
  display: grid;
  grid-template-areas: 
  "head head nav map map"
  "head head nav col4 col5"
  "copyright copyright copyright copyright copyright";
  column-gap: 15px;
  background-color: #465c2a;
  width: 100%;
  height: 250px;
  padding: 1rem 1rem 1rem 1rem;
  overflow: scroll;
}

.footer-left {
  grid-area: head;
}

.footer-center {
  grid-area: nav;
}

.footer-right {
  grid-area: map;
  object-fit: contain;
}

.copyright {
  text-align: center;
  grid-area: copyright;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #f0dbb4;
}

iframe {
  padding: 1rem 1rem 1rem 1rem;

}

p {
  font-size: small;
}
